@import "/styles/theme.scss";

.news_panel {
  margin-top: 2rem;

  .title {
    font-size: $subtitle_text_size;
    text-indent: 2rem;

    padding: 5px;

    color: $theme_text_secondary_color;
    background-color: $theme_secondary_color;
  }

  .content {
    text-align: justify;
    text-indent: 2rem;

    padding: 1.5rem;
  }
}
