@import "/styles/theme.scss";

.route_container {
  width: 100%;

  .navigation {
    width: 90%;

    margin-left: auto;
    margin-right: auto;

    background-color: $theme_dark_highlight_color;
    color: $theme_text_main_color;

    padding: 8px;
  }

  .route_core {
    display: flex;
    flex-direction: column;

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    color: $theme_text_main_color;
    background-color: $theme_main_color;

    .main_information {
      border-left: 3px solid $theme_secondary_color;

      .title {
      }

      .content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;

        .textual_information {

            .info_item {

                .value {

                }
            }
        }

        .graphical_information {
        }
      }
    }

    .other_information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      border-left: 3px solid $theme_secondary_color;

      .route_information {
        width: 62%;

        .title {

        }

        .info_item {
          text-align: justify;
          text-indent: 2rem;

          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .area_information {
        width: 37%;
        .title {

        }

        .info_item {
          text-align: justify;
          text-indent: 2rem;

          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .recent_information {
    }
  }
}

.title {
  font-size: $title_text_size;
  text-indent: 2rem;

  padding: 10px;

  color: $theme_text_secondary_color;
  background-color: $theme_secondary_color;
}

.info_item {
  font-size: $global_big_text_size;
  padding: 6px;

  .value {
    display: inline-block;
    text-indent: 10px;
    font-weight: bold;
  }
}
