@import "/styles/theme.scss";

.line_button {
  width: 100%;

  color: $line_main_text_color;
  font-size: $button_text_size;
  font-family: "Orion Esperanto";

  text-align: center;

  border: 1px solid $line_secondary_color;
  border-radius: 2px;

  background-color: $line_main_color;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    color: $line_secondary_text_color;
    background-color: $line_secondary_color;
  }
}
