@import "/styles/theme.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    to right top,
    #ffffff,
    #eaebfa,
    #d0d8f6,
    #afc7f3,
    #86b8ee,
    #6aabdf,
    #4c9ed1,
    #2191c1,
    #2381a7,
    #26718e,
    #286176,
    #29515f
  );
}

.login_wrapper {
  width: 100vw;
  height: 100vh;

  .connections_container {
    position: absolute;

    top: 2*$menu_height;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 400px;

    border-radius: 5px;

    padding: 10px;

    text-align: center;

    background-color: $theme_main_color;
    color: $theme_text_grey_color;

    .title {
      font-family: "Staatliches";
      font-size: $title_text_size;
      color: $theme_text_main_color;

      margin-top: 2rem;
    }

    .form {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;

      .form_group {
        padding-top: 0.5rem;
        text-align: left;

        .textInput {
          width: 100%;
        }
      }

      .button_container {
        width: 100%;

        margin-top: 0.5rem;

        .login_button {
          padding: 0.7rem;
          width: 60%;
        }
      }
    }

    .login_alternatives {
      width: 70%;

      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;

      .other_providers {
        display: flex;
        flex-direction: column;

        margin-top: 1rem;

        .provider {
          margin-bottom: 0.5rem;
        }
      }
    }

    .sign_up {
      margin-top: 2rem;
    }
  }
}
