@import "/styles/theme.scss";

.menu_container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 12%;
  height: 100%;

  min-width: 200px;
}

.menu_content_container {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  white-space: nowrap;

  display: flex;
  flex-direction: column;

  text-align: left;

  border-left: 5px solid $theme_secondary_color;

  transition: 0.1s;
}

.transition_block {
  max-height: 0px;

  transition: max-height 0.4s cubic-bezier(1, 0, 1, 0);
}
