//Sizes
$menu_height: 5rem;

$title_text_size: 2.5rem;
$global_text_size: 1rem;
$button_text_size: 1.5rem;
$menu_text_size: 1.5rem;

//Colors
$theme_main_color: white;
$theme_secondary_color: #26a6e5;
$theme_alternative_color: #29515f;

$theme_text_main_color: #1e1e1e;
$theme_text_secondary_color: white;
$theme_text_alternative_color: white;
$theme_text_grey_color: darkgrey;
$theme_text_error_color: #D8000C;

$link_color: #0000ee;


//Providers
$line_main_color: #f6f7f8;
$line_main_text_color: #616161;
$line_secondary_color: #07b53b;
$line_secondary_text_color: #f6f7f8;
